@font-face {
	font-family: 'OpenSans';
	font-display: swap;
	font-weight: 600;
	font-style: normal;
	src: url("../assets/fonts/OpenSans-SemiBold.woff2") format('woff2'),
  url("../assets/fonts/OpenSans-SemiBold.woff") format('woff');
}
