@import '../../styles/libraries/pxconvert';

.characters {
  margin-bottom: rem(30);

  &__title {
    display: flex;
    margin-bottom: rem(30);
  }

  &__img {
    display: block;
    width: rem(150);
    height: rem(150);
    margin: 0;
    margin-right: 20px;
    border-radius: 0 0 50% 0;
    transition: border-radius .3s ease;
  }

  &__name {
    width: 100%;
    padding-top: rem(20);
    padding-right: rem(18);
    align-self: center;
    font-size: rem(22);
    text-align: center;
  }

  &__info {
    margin-top: auto;
    padding-left: rem(18);
    padding-right: rem(18);
    padding-bottom: rem(35);
  }

  &__specie,
  &__status {
    margin-bottom: rem(13);
  }

  &__specie,
  &__origin {
    display: block;
  }

  &__status {
    display: flex;
    align-items: flex-end;
    gap: 6px;
    width: fit-content;

    &::after {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      content: '';
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      background-color: rgb(40, 219, 46);
      animation-name: alive;
    }

    &_dead::after {
      background-color: #dd0000;
      animation-name: dead;
    }
  }

}

// screen = 900px
@media (max-width: 950px) {
  // items
  .characters {
    &__list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 15px;
    }

    &__title {
      flex-direction: column;
    }

    &__img {
      margin: 0 auto;
      margin-bottom: rem(12);
      border-bottom-left-radius: 50%;
    }

    &__name {
      padding: 0 rem(10);
      font-size: 1rem;
    }

    &__info {
      padding: 0 rem(10) rem(10) rem(10);
      font-size: rem(13);
    }

    &__status::after {
      width: 12px;
      height: 12px;
    }
  }
}
