@import '../../styles/libraries/pxconvert';

.form {
  position: relative;
  max-width: 800px;
  margin: 0 auto;

  &__input {
    width: 100%;
    border: 2px solid transparent;
    padding: rem(15);
    border-radius: rem(30);
    background-color: rgba(255, 255, 255, .4);
    color: var(--light-theme);
    transition: border-color .3s ease-in-out;

    &::placeholder {
      color: var(--light-theme);
      transition: color .3s ease-in-out;
    }

    &:hover {
      border-color: var(--pasive);
    }

    &.focus-visible {
      border-color: var(--light-theme);
    }
  }

  &__btn {
    position: absolute;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
    top: 0;
    right: 0;
    fill: var(--light-theme);
    transform-origin: center center;
    transition-property: fill;
    transition-timing-function: ease;
    transition-duration: .3s;

    &:hover,
    &.focus-visible {
      fill: var(--hover);
    }

    &:active {
      fill: var(--active);
    }
  }

  &__svg {
    width: rem(25);
    height: 100%;
  }
}
