@import '../../styles/libraries/pxconvert';

.header {
  margin-bottom: rem(50);
}

.logo {
  display: block;
  max-width: 500px;
  max-height: 190px;
  margin: 0 auto;
  margin-bottom: rem(30);
  transition: filter 1.5s ease;

  &__img {
    max-width: 100%;
    max-height: 190px;
    display: block;
  }

  &:hover {
    filter: hue-rotate(300deg);
  }
}
